@import "vars";
@import "mixin";
// html {
//   font-size: 10px;
// }
body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: $font-normal;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;
}
#header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 99;
  color: #fff;
  transition: all 0.25s ease;
  &.scroll {
    color: #111;
    background-color: rgba(255, 255, 255, 0.75);
    span {
      background-color: #000;
    }
  }
  &.open {
    #gnb {
      left: 0;
    }
    .btnAll {
      span {
        &:nth-child(1) {
          top: 23px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          top: 23px;
          opacity: 0;
        }
        &:nth-child(3) {
          top: 23px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .login {
    display: flex;
    align-items: center;
    height: 50px;
    position: absolute;
    right: 65px;
  }
}
#logo {
  position: absolute;
  left: 20px;
  a {
    display: flex;
    align-items: center;
    height: 50px;
    img {
      height: 10px;
    }
  }
}
#gnb {
  width: 100%;
  height: 100%;
  top: 50px;
  left: 100%;
  // left: 100%;
  position: fixed;
  color: #111;
  transition: all 0.25s ease;
  background-color: rgba(255, 255, 255, 0.75);
  .list {
    > li {
      position: relative;
      border-bottom: 1px solid $gray-color;
      .depth01 {
        display: flex;
        align-items: center;
        height: 50px;
        position: relative;
        padding: 0 30px;
      }
      .store {
        color: #ea6000;
        &:before {
          display: none;
        }
        &:after {
          font-size: 15px;
          @include icon("\e0b2", 10px);
        }
      }
      .depth02 {
        padding: 20px 0;
        display: none;
        li {
          a {
            display: block;
            padding: 10px;
          }
        }
      }
    }
  }
}
.btnAll {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  span {
    display: block;
    width: 25px;
    height: 1.5px;
    position: absolute;
    left: 5px;
    transition: all 0.25s ease;
    background-color: #fff;
    &:nth-child(1) {
      top: 18px;
    }
    &:nth-child(2) {
      top: 23px;
    }
    &:nth-child(3) {
      top: 28px;
    }
  }
}
#footer {
  text-align: center;
  padding: 50px 8vw;
  border-top: 1px solid #ccc;
  .fallin {
    display: flex;
    justify-content: space-between;
    .fLogo {
      img {
        height: 15px;
      }
    }
    .familySite {
      select {
        height: 35px;
        padding: 0 60px 0 10px;
        color: #999;
        border: 1px solid #ccc;
        border-radius: 10px;
        appearance: none;
        outline: none;
        background: {
          position: right 10px top 50%;
          size: 20px;
          repeat: no-repeat;
          image: url("../images/common/arrow.svg");
        }
      }
    }
  }
  .addressBox {
    .customer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      font-size: 14px;
      font-weight: 400;
      dl {
        display: flex;
        position: relative;
        dt {
          margin-right: 20px;
          &:after {
            display: block;
            content: "";
            width: 1px;
            height: 12px;
            background-color: #ccc;
            top: 0;
            left: 62px;
            position: absolute;
          }
        }
      }
    }
    address {
      margin-bottom: 30px;
      font-size: 12px;
      p {
        margin-bottom: 10px;
        color: #555;
      }
      span {
        display: block;
        margin-bottom: 10px;
      }
    }
    .utilMenu {
      ul {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 14px;
        font-size: 14px;
        &:nth-child(1):after {
          top: 2px;
          left: 65px;
          @include pseudo;
          @include box(1px, 12px, #ccc);
        }
        li {
          margin-right: 20px;
        }
      }
      p {
        font-size: 12px;
        color: #999;
      }
    }
  }
}
